body {
    background: #000;
}

#content-row {
    color: #fff;
    height: 100vh;
}

#content-row img {
    height: 100px;
    margin-bottom: 50px;
}

#content-row h4 {
    font-weight: 200;
    margin-bottom: 120px;
}

#content-row h6 {
    font-weight: 200;
    color: #e62b1e;
}